.version.site /* version checker */
{
	color: #000012;
	background-color: #FCF32D;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 499.786330314252px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-top: 24px;
	padding-bottom: 62px;
	width: 0.01px;
}

#pu93-4
{
	width: 0.01px;
	margin-left: 34px;
}

#u93-4
{
	z-index: 10;
	width: 60px;
	min-height: 35px;
	background-color: transparent;
	font-family: Courier New, Courier, monospace;
	position: relative;
	margin-right: -10000px;
}

#u92-4
{
	z-index: 2;
	width: 55px;
	min-height: 35px;
	background-color: transparent;
	font-family: Courier New, Courier, monospace;
	position: relative;
	margin-right: -10000px;
	left: 79px;
}

#u94-4
{
	z-index: 6;
	width: 55px;
	min-height: 35px;
	background-color: transparent;
	font-family: Courier New, Courier, monospace;
	position: relative;
	margin-right: -10000px;
	left: 143px;
}

#u97
{
	z-index: 14;
	width: 1173px;
	background-color: transparent;
	-webkit-transform: matrix(-1,0,0,-1,1173,361);
	-ms-transform: matrix(-1,0,0,-1,1173,361);
	transform: matrix(-1,0,0,-1,1173,361);
	left: -110px;
	margin-top: 24px;
	position: relative;
}

#u97_clip
{
	overflow: hidden;
	width: 1173px;
	height: 361px;
}

#u97_img
{
	margin: -176px -146px -287px -258px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

